/* Dung base */
:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}
*{
    box-sizing: inherit; 
}
html {
    font-size: 62.5%;
    line-height: 16px;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*1. */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
/*2 giữ cho màn hình không quá 1200px*/
.grid__full-width{
    width: 100%;
}
/*3 Cho màn hình to */
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
/*  */
/* End dung base  */
/* Modal */
.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.modal__overplay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__body{
    position: relative;
    margin: auto;
    background-color: var(--white-color);
}
.modal__inner{

}