.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header_navbar{
    display: flex;
    justify-content: space-between;   
    height: var(--header_navbar-height);
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 4px 0 0 0;
    
    
}
.header_navbar-item{
    position: relative;
    display: inline-block;
    margin: 0 8px;
    
}


.header_navbar-item-link,
.header_navbar-item{
    font-size: 1.5rem;
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header_navbar-item-link:hover,
.header_navbar-item:hover {
    color: rgba(255,255 , 255, 0.7);
    cursor: pointer;
}
.header_navbar-item--strong{
    font-weight: 600;
}
.header_navbar-item--separate::after{
    content: "";
    display: block;
    border-left: 1px solid #FB9086;
    height: 12px;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
.header_navbar-icon-link{
    text-decoration: none;
    color: var(--white-color);
    margin: 0 2px;
    font-size: 1.7rem;

}
.header_navbar-icon-link:hover{
    color: rgba(255,255 , 255, 0.7);
}
.header_navbar-item > span {
    cursor: text; 
    color: var(--white-color);
}
.header__qr{
    display: none;
    width: 186px;
    position: absolute;
    background:var(--white-color);
    left: 0;
    top: calc(100% + 10px);
    padding: 8px;
    border-radius: 5px;
    z-index: 1;
    animation: fadeIn .2s ease-in;
    
}
@keyframes headerNotifyG {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    top: -5%;
    left: 0;
}
.header__qr-code-img{
    width: 100%;
    
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
    margin: 7px 8px  0px;
}
.header__qr-apps-download-img{
    height: 17px;

}
.header_navbar-item:hover > .header__qr {
    display: block;
} 
@keyframes fadeIn {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}
.header_navbar-item:hover .header_notify{
    display: block;
}
/* Header notify  */
.header_notify{
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    border: 1px solid #FB9086;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyG 0.25s linear;
    will-change: opacity,transform;
    z-index: 999;
}
.header_notify::before {
    content: "";
    display: block;
    position: absolute;
    border-width: 12px 15px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff;
    right: 13px;
    top: -24px;
}
.header_notify::after{
    position: absolute;
    content: "";
    display: block;
    height: 14px;
    width: 100px;
    background-color: transparent;
    top: -14px;
    right: 0;
}
.header_nav{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 40px;
    margin: 0 12px;
    text-transform: capitalize;
    height: 40px;
    color: #818181;
    cursor:default;

}

.header_notify-list{
    padding-left: 0;
    
}
.header_notify-item{
    list-style: none;
   
}
.header_notify-link{
   display: flex;
   background-color: #fff1f0;
   padding: 8px;
   text-decoration: none;
}
.header_notify-body-img{
    width: 46px;
    object-fit: contain;
    align-self: start;
}
.header_notify-body-describer{
    margin: 0 12px;
}
.header_notify-body-describer-header{
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    margin: 2px 0;
    text-align: justify;
    
}
.header_notify-body-describer-footer{
    display: block;
    font-size: 1.2rem;
    color: #818181;
    text-align: justify;

    
}
.header_footer {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 40px;
    margin: 0 12px;
    text-transform: capitalize;
    height: 40px;
    color: #818181;
    cursor:pointer;
    text-align: center;
}
/* Modal css */

.auth-form {
    
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
    
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.auth-form_group{
    margin: 16px 0;
}
.auth-form_input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    color: var(--text-color);
    font-size: 1.4rem;
    border: 1px solid #818181;
    border-radius: 3px;
    outline: none;
}
.auth-form_input:focus {
    border-color: #777;
    
}
.auth-form__aside{
    margin-top: 12px;
    padding: 0 12px;
}
.auth-form__policy-text{
    font-size: 1.4rem;
    text-align: justify;
    text-align: center;
}
.auth-form__policy-link{
    color: var(--primary-color);
    text-decoration: none;
    
}
.auth-form__controls{
    margin: 80px 0 14px ;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back {
    margin-right: 10px;
}

.auth-form__socials{
    padding: 12px 30px;
    background-color: rgba(0,0 , 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.btn-with-icon-fb {
    color: #fff;
    background-color: rgb(28, 28, 185);
}
.btn-with-icon-gg {
    color: #777;
    background-color: var(--white-color);
}
.auth-form__socials-fb,
.auth-form__socials-gg {
    font-size: 1.7rem;
    
}

.auth-form__socials-tiltle {
    margin: 0 20px;
}

/* Header_general */
.header__general{
    height: var(--header__general-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__logo{
    width:  200px;
}
.header__general-logo-link-img {
    width: 150px;
    
}
.header__search{
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: 1 solid #000;
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}
.header__search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 16px;
    border-radius: 3px;
    height: 40px;
} 
.header__search-select {
    border-left:1px solid #dad9d9 ;
    padding-left: 8px;
    position: relative;
    cursor: pointer;
}
.header__search-lable{
    font-size: 1.4rem;
    color: var(--text-color);

}
.header__search-select-icon{
    font-size: 1.2rem;
    color: #dad9d9;
    margin: 0 12px 0 5px ;
}
.header__search-select:hover .header__search-option {
    
    display: block;
}
.header__search-option{
    display: none;
    position: absolute;
    background-color: var(--white-color);
    width: 120px;
    padding-left: 0;
    top: 120%;
    right: 0px;
    border-radius: 3px;
    box-shadow: 1px 1px #dad9d9;
    animation: fadeIn linear 0.2s;
    overflow: hidden;
}
.header__search-option-item{
    list-style: none;
    text-align: left;
    padding: 8px 8px;
    border-radius: 3px;

}
.header__search-option-item span {
    font-size: 1.4rem;
    
}
.header__search-option-icon {
    font-size: 1.2rem;
    color: red;
    margin: 0 0 0 15px;

}



.header__cart{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__cart-icon{
    font-size: 2.2rem;
    color: var(--white-color);
}
.header__search-select-button{
    height: 34px;
    width: 68px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 3px;
    margin-right: 4px;
}
.header__search-select-button-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}   
.header__search-select-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* header Search history */
.header__search-history{
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 2px);
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1px 4px #999;
}
.header__search-heading{
    margin: 8px 0 10px 15px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #c1c1c1;
}
.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.header__search-history-item{
    padding: 0px 15px;
}
.header__search-history-item:hover {
    background-color: rgba(0,0 , 0, 0.1);
    cursor: pointer;
}
.header__search-history-item a {
    font-size: 1.4rem;
    line-height: 36px;
    text-decoration: none;
    color: var(--text-color);
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}